server {
    listen 0.0.0.0:18000;
    root ./iAmRoot;
    error_page 404 ./error_pages/fyLinusTorvald.html;
    index index.html;

    location / {
        root ./iAmRoot;
        methods GET;
        autoindex off;
        client_max_body_size 0;
    }

    location /dir {
        root ./iAmRoot/dir;
        methods GET;
        autoindex on;
        client_max_body_size 0;
    }

    location /upload_resource.py {
        root ./cgi;
        methods POST;
        autoindex on;
        client_max_body_size 2000000;
        upload_dir /iAmUploadDir;
    }

    location /delete_resource.py {
        root ./cgi;
        methods DELETE;
        autoindex on;
        client_max_body_size 2000000;
    }

    location /hash.py {
        root ./cgi;
        methods POST;
        autoindex on;
        client_max_body_size 10000;
    }

    location /favicon.ico {
        root ./favicon;
        methods GET;
        autoindex off;
    }

    location /redirect {
        methods GET;
        return 301 /new_location;
    }

    location /new_location {
        root ./iAmRoot;
        methods GET;
        autoindex off;
        client_max_body_size 0;
    }
}


server {


server {
}
    listen 0.0.0.0:18001;
    root ./iAmRoot2;
    index index.html;
    error_page 404 ./error_pages/notfound.html;
    location / {
        root ./iAmRoot2;
        methods GET;
        autoindex off;
    }
}