server { 
    listen 0.0.0.0:8080;
    root ./webserv_tester/pythonTest;
    error_page 404 ./webserv_tester/pythonTest/error/404.txt;

    location / {
        root ./webserv_tester/pythonTest;
        methods GET HEAD PUT;
        autoindex on;
        client_max_body_size 2000000;
        upload_dir ./webserv_tester/pythonTest/putStuff;
    }

    location /ipointtodir {
        root ./webserv_tester/pythonTest/dir;
        methods GET;
        autoindex on;
    }

    location /cgi {
        root ./webserv_tester/pythonTest/sh;
        methods GET HEAD POST;
        cgi *.sh /bin/sh;
        client_max_body_size 500;
        index index.sh;
        autoindex off;
    }

    location /cgiBis {
        root ./webserv_tester/pythonTest/sh;
        methods POST;
        cgi *.sh /bin/sh;
        client_max_body_size 1000000;
    }

    location /putStuff {
        root ./webserv_tester/pythonTest/putStuff;
        methods GET;
        autoindex off;
	    cgi *.sh /bin/sh;
    }
}

server {
    listen 0.0.0.0:8090;
    root ./webserv_tester/pythonTest;
    location / {
        root ./webserv_tester/pythonTest;
        methods GET;
        autoindex off;
        index index.html;
    }
}