server {
  listen 0.0.0.0:18000;
  root ./forest/iAmRoot;
  error_pages_dir ./forest/iAmErrorDir;
  server_name gaufrierMagique;

  location /hash.py {
    root ./forest/cgi;
  }

  location /upload_resource.py {
    root ./forest/cgi;
    upload_dir ./forest/iAmUploadDir;
  }

  location /favicon.ico {
    root ./forest/favicon;
  }
    location /directory {
    autoindex off;
    root ./forest/iAmRoot/;
  }

}

server {
  listen 0.0.0.0:18001;
  server_name webserv;
  root ./core/server_root;

  location /hash.py {
    root ./forest/cgi;
  }
}