server {
  listen 0.0.0.0:18000;
  root ./forest/iAmRoot;
  error_pages_dir ./forest/iAmErrorDir;
  server_name gaufrierMagique;

  location /hash.py {
    root ./forest/cgi;
    client_max_body_size 100;
    methods POST;
  }

  location /upload_resource.py {
    root ./forest/cgi;
    working_dir ./forest/iAmUploadDir;
    methods POST;
  }

  location /delete_resource.py {
    root ./forest/cgi;
    working_dir ./forest/iAmUploadDir;
    methods DELETE;
  }

  location /favicon.ico {
    root ./forest/favicon;
  }

  location /directory {
    autoindex off;
    root ./forest/iAmRoot/;
  }

  location /ottoindex {
    autoindex on;
    root ./forest/iAmRoot/;
  }

  location /moved_permanently {
    return 301 /hash.html;
  }

  location /found {
    return 302 /hash.html;
  }

    location /temporary_redirect {
    return 307 /hash.html;
  }

    location /permanent_redirect {
    return 308 /hash.html;
  }
}

server {
  listen 0.0.0.0:18001;
  server_name webserv;
  root ./core/server_root;

  location /hash.py {
    root ./forest/cgi;
  }
}